{% extends 'base.html.twig' %}

{% block title %}Nos biens{% endblock %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            {{ form_start(form) }}
            <div class="form-row">
                <div class="form-group col-md-4">
                    {{ form_row(form.minSurface) }}
                </div>
                <div class="form-group col-md-4">
                    {{ form_row(form.maxPrice) }}
                </div>
                <div class="form-group col-md-4">
                    {{ form_row(form.selections) }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-8">
                    {{ form_row(form.address, {id: 'search_address'}) }}
                </div>
                <div class="form-group col-md-4">
                    {{ form_row(form.distance) }}
                </div>
            </div>
            <button class="btn btn-primary">Rechercher</button>
            {{ form_end(form) }}
        </div>
        <h1 class="mt-4">Tous nos biens</h1>
        <div class="row mt-4">
            {% for property in properties %}
                <div class="col-md-4">
                    {% include 'property/_property.html.twig' %}
                </div>
            {% endfor %}
        </div>
        <div class="pagination">
            {{ knp_pagination_render(properties) }}
        </div>
    </div>
{% endblock %}